*.swp
*.pyc
*.pkl
*.py~
*.bak
.pytest_cache
.DS_Store
.idea
.vscode
.coverage
.coverage.*
__pycache__/
_build/
*.npz
*.pth
.pytype/
git_rewrite_commit_history.sh

# Setuptools distribution and build folders.
/dist/
/build
keys/

# Virtualenv
/env
/venv


*.sublime-project
*.sublime-workspace

.idea

logs/

.ipynb_checkpoints
ghostdriver.log

htmlcov

junk
src

*.egg-info
.cache
*.lprof
*.prof

MUJOCO_LOG.TXT

# Custom
/results/
/eval_checkpoint/
/nautilus/
/assets/misc/ktx
/wandb/
/test/
/day.ktx
/depth.out
/new.out
/nohup.out
/demonstration
/results08
/pretrained_model
/dataset
/tactile_image
/results1/
results.zip
/tool/analysis
/tool/model
/analysis
/trash
/video
/novel_analysis
/estimator/dataset
/pc
/estimator_analysis/

